.footer {
  background-color: black;
  color: white;
  padding: 4rem 2rem; // 6rem 4.8rem 4.5rem;
  margin-top: 4rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 140rem;
    margin: 0 auto;
  }

  &__nav { // INCLUDES LOGO

    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    // padding-right: 6rem;
    margin-bottom: 3.5rem;

    // img {
    //   height: auto;
    //   width: 6rem;
    // }
  }

  &__logo {
    height: 8rem;
    width: auto;

    // &--black {
    //   filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(25deg) brightness(102%) contrast(101%);
    // }

    // &--white {
    //   filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(25deg) brightness(102%) contrast(101%);
    // }
  }

  &__links {
    display: flex;
    // flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    list-style: none;

    & li:not(:last-of-type) {
      margin-right: 6.3rem;
    }
  }

  &__policies {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    gap: 2rem;
  }

  &__policies-nav {
    display: flex;
    list-style: none;

    // & li:not(:first-of-type) {
    //   padding-left: 3rem;
    // }
    & li:not(:last-of-type) {
      // padding-right: 3rem;

      &::after {
        content: "|";
        padding: 0 1rem;
      }
    }
  }
}
