// MEDIA QUERY MANAGER
/*
0 - 900px:     Phone
900 - 1200px:  Tablet landscape
1200 - 1800px: Desktop
1800px+:       Big desktop

$breakpoint argument choices:
- phone
- tablet
- big-desktop

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 56.25em) {
      @content;
    } // 0-900px;
  }
  @if $breakpoint == tablet {
    @media (max-width: 74.99em) {
      @content;
    } // 900px-1200px;
  }
  @if $breakpoint == desktop {
    @media (min-width: 75em) {
      @content;
    } // 1200px-1800px;
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    } // 1800px
  }
}

@mixin fade-in-out($duration: 5s, $fade-in-duration: 0.5s, $fade-out-duration: 0.5s) {
  opacity: 0;
  animation: fadeInOut #{$duration} ease-in-out forwards;
  pointer-events: auto;

  @keyframes fadeInOut {
    0% {
      opacity: 0;
      pointer-events: auto;
    }
    10% {
      opacity: 1;
      pointer-events: auto;
    }
    80% {
      opacity: 1;
      pointer-events: auto;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
}