// $turquoise: #14a998;
// $light-beige: #fffbf4;
// $light-brown: #f1e8d9;
// $brown: #d7c094;
// $beige: #d7c094;

$orange: #ce822f; // #B2600E; //#ce822f;
$black: #000000;
$white: #FFFFFF;
$gray: #F5F5F5; // #FAFAFA;

$primary: #B2600E; // #007bff;
$secondary: #6c757d;
$success: #28a745; // #27ae60;
$danger: #dc3545; // #e74c3c;
$warning: #ffc107;
$info: #17a2b8;

// $light: #f8f9fa;
// $dark: #343a40;
// $white: #ffffff;
// $gray: #6c757d;
// $blue: #007bff;
// $green: #28a745;
// $red: #dc3545;
// $purple: #6f42c1;
// $teal: #20c997;
// $cyan: #0dcaf0;

$darken: rgba(0, 0, 0, 0.45);
$lighten: rgba(255, 255, 255, 0.9);